.searchSection {
  background-color: var(--bg-red);
  flex-grow: 1;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}

.searchSection > img {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .searchSection > img {
    display: none;
  }
}
