.PokemonCard{
    display: flex;
    background-color: green;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    aspect-ratio: 1.5;
}

.PokemonCardDots {
    position: absolute;
    left: 25px;
    top: 15px;
}

.PokemonCard-description{
    justify-self: start;
    padding-left: 40px;
    display: inline-block;
}

.PokemonCard-image-container{
    justify-self: end;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}
.PokemonCard-image-background{
    position: absolute;
    left: 60%;
    z-index: 0;
    height: 100%;
    width: 60%;
}

.PokemonCard-image{
    height: 210px;
    width: 210px;
    position: relative;
    left: 30%;
}