.PokemonCard{
    display: flex;
    background-color: green;
    max-width: 30vw;
    min-width: fit-content;
    height: 250px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.PokemonCard-description{
    width: 75px;
    justify-self: start;
    padding-left: 30px;
}

.PokemonCard-image{
    width: 210px;
    justify-self: end;
    height: 210px;
}