.game {
  align-content: center;
  justify-items: center;
  padding-bottom: 5%;
  flex-grow: 1;
}

.guessPokemonImage {
  display: block;
  height: 300px;
  filter: brightness(0) saturate(100%);
  transition: filter 1s ease;
}

.show {
  filter: brightness(100%) saturate(50%);
}

.gameButtons {
  display: flex;
  gap: 20px;
}
