.label{
    color: #FFFFFF;
    font-family: 'roboto';
    font-size: 15px;
    gap: 5px;
    border-radius: 3px;
    padding: 13px 5px;
    display: flex;
    align-items: center;
}

.label-icon{
    width: 15px;
    height: 15px;

}