.Search {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.searchInfo {
  flex-grow: 2;
  display: block;
  color: white;
  margin-block: 1rem auto;
}

@media (max-width: 768px) {
  .Search {
    flex-grow: 0;
    margin: auto;
    width: 70%;
  }
}
