.languageSection {
  background-color: var(--bg-red);
  display: flex;
  padding: 0.6rem 2rem;
  gap: 24px;
  flex-grow: 1;
}

.languageSection > span {
  align-self: center;
  color: white;
}

.launageFlags {
  display: flex;
  gap: 10px;
}

.launageFlags > img:hover {
  cursor: pointer;
}
