.loadImage {
  animation: spin 2s ease-in-out infinite;
  height: 30%;
}

.loadingContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
