#root {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px auto;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "content";
}

.header {
  display: flex;
  grid-area: header;
  z-index: 500;
}

.content {
  grid-area: content;
  display: flex;
}
