.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 0.30fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "secondHeader"
    "content";
}

.header {
  grid-area: header;
  z-index: 500;
}

.secondHeader {
  grid-area: secondHeader;
  display: flex;
}

.Content {
  grid-area: content;
}