.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px auto;
  gap: 0px 0px;
  grid-template-areas:
    "secondHeader"
    "content";
}

.secondHeader {
  grid-area: secondHeader;
  display: flex;
}

.ListContent {
  grid-area: content;
}
